@use '../../util' as u;
@use '../../globals' as g;

.header{
  width: 100%;
  height: 180px;
  margin:0;
  padding: 10px;
  box-sizing: border-box;
  @include g.mix-flex-aligment(center);
  flex-wrap: wrap;
  background: linear-gradient(180deg, black, transparent);
  border-radius: 3px solid #fff;
  position: relative;
  
  &__title{
    font-size: min(1.7rem, 10vw);
    width: 30%;
    box-sizing: border-box;
    text-align: center;
  }
}