@use '../../globals' as g;
@use '../../util' as u;

.nav{
  height: 60px;
  width: 100%;
  $parent-w: width;

  display: flex;
  position: relative;
  font-family: g.$font;
  box-sizing: border-box;

  &__list{
    margin: 0;
    width: 100%;
    @include g.mix-flex-aligment(space-evenly);
    box-sizing: border-box;

    
    &__item{
      border-radius: 10px;
      position: relative;
      user-select: none;
      padding: 10px;
      cursor: pointer;

      &.selected{
        color: g.$primaryColor;
      }
      &::after{
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 4px 2px #0002;
        bottom: 3px;
        left: 0;
        transition: all .3s;
      }
      
      &:hover::after{
        content: "";
        animation-name: underlineOnce; 
        animation-duration: .3s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: unset;
      }
    }
  }

  @include u.breakpoint("medium"){
    // background-color: rgba(255, 0, 0, 0.521);
    font-size: 1.1rem;
  }
  @include u.breakpoint-down("medium"){
    // background-color: rgba(0, 128, 0, 0.425);
    font-size: 1rem;
  }
  @include u.breakpoint-down("small"){
    // background-color: rgba(0, 0, 255, 0.397);
    grid-column: 1/4;
    grid-row: 2/3;
    font-size: .81rem;
  }
}