@use '../../globals' as g;
@use '../../util' as u;

.subnav_movies, .subnav_shows{
  height: 0;
  background-color: #0007;
  font-family: g.$font;
  font-size: .8rem;
  color: #aaa;
  border-radius: .4rem;
  overflow: hidden;
  transition: all .3s;
  z-index: 2;
  grid-column: 1/4;

  @include u.breakpoint("medium"){
    width: 50%;
    margin: 0 auto;
    font-size: 1.1rem;
  }
  @include u.breakpoint-down("medium"){
    width: 80%;
    margin: 0 auto;
    font-size: 1rem;
  }
  @include u.breakpoint-down("small"){
    font-size: .8rem;
    width: 100%;
  }

  &::after{
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    background: linear-gradient(90deg, 
      transparent,
      g.$primaryColor,
      g.$primaryColor,
      g.$primaryColor,
      g.$primaryColor,
      g.$primaryColor,
      transparent,
      );
    bottom: 0;
    left: 0;
  }
  
  &__list, &__list > *{
    box-sizing: border-box;
  }
  &__list{
    width: 100%;
    @include g.mix-flex-aligment(space-evenly, flex-end);
    height: 100%;
    margin: 0;
    
    
    &__item{
      height: 100%;
      margin: 0;
      width: 100%;
      @include g.mix-flex-aligment(center);
      cursor: pointer;
      border-radius: 5px;
      z-index: 2;

      &:hover{
        color: #fff;
      }

      &.selected{
        color: #fff;
        background-color: g.$primaryColor;
      }
    }//end item
  }//end list
}//end subnav