@use '../../globals' as g;
@use '../../util' as u;

.subnav_movies, .subnav_shows{
  height: 50px;
  width: 100%;
  position: absolute;
  z-index: 12;
  bottom: -14px;
  right: 0;
  font-family: g.$font;
  font-size: .8rem;
  color: #aaa;
  // background: linear-gradient(0, black, transparent,transparent);

  // background-color: red;
  @include u.breakpoint("large"){
    width: 50%;
    font-size: 1.1rem;
  }
  @include u.breakpoint-down("medium"){
    // background-color: green;
    width: 80%;
    font-size: 1rem;
  }
  @include u.breakpoint-down("small"){
    // background-color: blue;
    font-size: .8rem;
    width: 100%;
  }

  &::after{
    position: absolute;
    height: 2px;
    width: 100%;
    background: g.$primaryColor;
    background: linear-gradient(90deg, 
      transparent,
      g.$primaryColor,
      g.$primaryColor,
      g.$primaryColor,
      g.$primaryColor,
      g.$primaryColor,
      transparent,
      );
    box-shadow: 0 0 4px 2px #0002;
    display: flex;
    bottom: 0;
    content: "";
    left: 0;
  }
  &__list{
    width: 100%;
    @include g.mix-flex-aligment(space-evenly, flex-end);
    height: 100%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    
    
    &__item{
      height: 100%;
      margin: 0;
      height: 80%;
      width: 100%;
      @include g.mix-flex-aligment(center);
      cursor: pointer;
      border-radius: 5px 5px 0 0;
      z-index: 2;
      &:hover{
        color: #fff;
      }
      &.selected{
        color: #fff;
        background-color: g.$primaryColor;
      }
    }
  }
}