@use '../util' as u;
@use 'mixins' as m;
@use 'variables' as v;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  // background: radial-gradient();

  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body{
  margin: 0;
  padding: 0;
  // background: linear-gradient(45deg, #000, #090909, #191919);
  height: 100vh;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  &:hover {
    border-color: #fd004c;
  } 
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.background_svg1{
  position: fixed;
  width: 100vw;
  object-fit: cover;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -1;

  @include u.breakpoint-down(small){
    width: 100vw;
    height: 100vh;
    object-fit: contain;
  }
}
.placeholder{
  height: 80vh;
  display: none;

  &__img{
    width: 60%;
    height: 60%;
    opacity: .4;
  }
}
.flex-align{
  @include m.mix-flex-aligment(center);
}
.hidden{
  visibility: hidden;
}
.none-display{
  display: none;
}
.color-primary{
  text-decoration: underline;
  outline: 2px solid red;
}