@use '../../globals' as g;

.card{
  border-radius: 10px;
  @include g.mix-flex-aligment(space-between);
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  transition: transform .2s, background-color .2s;
  position: relative;
  cursor: pointer;
  
  &:hover{
    background-color: #1f1f1f;
    box-shadow: 0 0 4px 1px #0009;
    transform: scale(1.01);
  }

  &__img{
    width: auto;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    position: relative;
    box-shadow: 0 0 6px 2px #0007;
    top: .5rem;
  }

  &__title, 
  &__subtitle{
    width: 95%;
    text-align: center;
    font-size: .8rem;
  }
  &__subtitle{
    font-size: .7rem;
    margin: 0;
    color: #888;
    margin-bottom: 1rem;
  }
  &__title{
    line-height: 1;
    margin: 1rem 0 .5rem 0;
  }

}
