@use '../../../globals/' as g;

.modal_wrapper{
  position: fixed;
  width: 100vw;
  @include g.mix-flex-aligment(center);
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #0005;
  backdrop-filter: blur(4px);
  z-index: 100;

}
.modal{
  background-color: #222;
  width: 90%;
  height: 400px;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 1rem;

  &__header{
    width: 100%;
    border-radius: 16px;
    background-color: #0007;
    @include g.mix-flex-aligment(center);
    
  }
  &__body{
  overflow-y: auto;
  margin-top: 1rem;
  height: 300px;
  }

}