<main class="main">
  <h2 class="main__subtitle">Más vistas</h2>
  <section class="main__section">
    <article class="main__section__article">
      <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" width="100" height="auto" alt="placeholder">
      <h3>Lorem</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum.</p>
    </article>
    <article class="main__section__article">
      <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" width="100" height="auto" alt="placeholder">
      <h3>Lorem</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum.</p>
    </article>
    <article class="main__section__article">
      <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" width="100" height="auto" alt="placeholder">
      <h3>Lorem</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum.</p>
    </article>
  </section>
  <h2 class="main__subtitle">Taquilleras</h2>
  <section class="main__section">
    <article class="main__section__article">
      <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" width="100" height="auto" alt="placeholder">
      <h3>Lorem</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum.</p>
    </article>
    <article class="main__section__article">
      <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" width="100" height="auto" alt="placeholder">
      <h3>Lorem</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum.</p>
    </article>
  </section>
  <h2 class="main__subtitle">Proximaente</h2>
  <section class="main__section">
    <article class="main__section__article">
      <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" width="100" height="auto" alt="placeholder">
      <h3>Lorem</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum.</p>
    </article>
    <article class="main__section__article">
      <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" width="100" height="auto" alt="placeholder">
      <h3>Lorem</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum.</p>
    </article>
  </section>
</main>