@use '../globals' as g;

.main_about{
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  font-size: .9rem;
  
  &__paragraph{
    font-size: .9rem;
    width: 100%;
    text-shadow: 0 0 20px #000;
    
    & > em{
      color: g.$primaryColor;
      font-weight: 900;
    }
    & > span{
      color: #ff7300;
      font-weight: 900;
    }
  }
  &__list{
    @include g.mix-flex-aligment(space-evenly);
    &__item{
      text-align: center;

      &__logo{
        height: 89px;
        transform: scale(.7);
      }
    }
  }
}