@use '../../globals' as g;
@use '../../util' as u;

.banner{
  min-height: 60vh;
  margin: 0 0 3rem 0;
  padding: 20px;
  box-sizing: border-box;
  @include g.mix-flex-aligment(center);
  flex-direction: column;
  
  &__img{
    filter: drop-shadow(0 0 10px #000000);
    width: 30%;
    height: 30%;
    transform: rotate(-15deg);
  }
  &__img_wrapper{
    @include g.mix-flex-aligment(space-evenly);
    width: 100%;
  }
  &__subtitle{
    font-family: g.$primaryFont;
  }
  &__title{
    display: flex;
    font-family: g.$primaryFont;
  }
  &__paragraph{
    margin-top: 2rem;
    text-align: center;
    font-size: .9rem;
    box-sizing: border-box;

    & > em{
      color: g.$primaryColor;
      font-weight: 900;
    }
    & > span{
      color: #ff7300;
      font-weight: 900;
    }
  }
}