@use '../../globals' as g;
@use '../../util' as u;

.search{
  min-height: 50px;
  padding: 0;
  border-radius: 16px;
  box-sizing: border-box;
  box-shadow: 0 0 12px 2px #0003;
  @include g.mix-flex-aligment(center);
  border: 1px solid #fff;
  
  &__input_text{
    height: 50px;
    width: 100%;
    border-radius: 15px 0 0 15px;
    border: none;
    background-color: transparent;
    margin: 0;
    display: flex;
    font-size: 1.1rem;
    padding-left: 1rem;
    color: #ebebeb;
    
    &::placeholder{
      color: #ffffff77;
      font-size: inherit;
    }
    &:focus{
      outline: none;
    }
  }//end input_text

  &__logo{
    padding: 10px;
    color: #fff;
    margin: 5px;
    background-color: g.$primaryColor;
    border-radius: 1rem;
    cursor: pointer;
    @include g.mix-flex-aligment(center);
    
    &:hover{
      background-color: darken(g.$primaryColor, 10%);
    }
  }//end logo
}//end search